* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat";
}

div.top-container {
  height: 40px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.socialmedia-icons {
  height: 16px;
  width: 219px;
  display: flex;
  justify-content: space-between;
}

.social-custom-icon {
  color: #707070;
}

.login-icons {
  width: 166px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.login-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2px;
}

.anchor-login-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor-language-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-custom-icon {
  color: #707070;
  margin-right: 5px;
}

.material-icons.md-13 {
  font-size: 13px;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-20 {
  font-size: 20px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.tags-styling .home-tag-arrow-down {
  line-height: 17px;
}

.sign-in-logo {
  line-height: 27px;
  font-size: 12px;
  color: #6f6f6f;
  font-weight: 600;
  margin-right: 4px;
}

a {
  text-decoration: none;
}

.vertical-logo {
  width: 1.5px;
  height: 22px;
  background-color: #545454;
}

.language-custom-icon {
  color: #707070;
  line-height: 90px;
  margin-right: 8px;
}

.eng-logo {
  line-height: 27px;
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 600;
}

.arrow-custom-icon {
  line-height: 90px;
  color: #858585;
  width: 15px;
}

.main-menu-container {
  height: 800px;
  background: linear-gradient(rgba(33, 33, 33, 0.87), rgba(33, 33, 33, 0.87)),
    url("images/bg_image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.main-menu-subcontainer {
  width: 1170px;
}

.main-menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 13px;
}

.home-container {
  margin-left: 50px;
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}

.home-tag-arrow-down {
  margin-left: 4px;
}

.pink-bar {
  width: 80px;
  height: 4px;
  background-color: #ff4081;
  margin-left: 11px;
}

.tags-styling {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.search-icon {
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.search-icon-lines {
  width: 1px;
  height: 30px;
  background-color: #5c5c5b;
  margin-bottom: 4px;
}

.search-icon-colors {
  color: #ffffff;
}

.inspiration-container {
  font-size: 20px;
  color: #bdbebe;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 228px;
}

.millennials-container {
  font-size: 42px;
  letter-spacing: 0.8px;
  color: #ffffff;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  margin-left: 77px;
}

.search-icon .search-icon-margin {
  margin-right: 14px;
}

.search-icon-width {
  width: 21px;
}

.favorite-icon-width {
  width: 22px;
  margin-left: 10px;
  margin-right: 14px;
}

.cart-icon-width {
  width: 21px;
  margin-left: 14px;
}

.ways {
  width: 875px;
}

.building {
  width: 815px;
}

.readmore-container {
  width: 170px;
  height: 45px;
  border-radius: 22px;
  filter: drop-shadow(0px 17px 12px rgba(48, 63, 159, 0.2));
  background-color: #303f9f;
  margin-top: 30px;
  margin-left: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-fontsize {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-weight: 400;
}

.author-likes-cmnts {
  width: 236px;
  height: 161px;
  margin-top: 78px;
  margin-left: 464px;
}

.ellipse {
  background-position: center;
  margin-left: 560px;
  margin-top: 79px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("images/henry.jpg");
}

div.author {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-left: 2px;
}

div.date {
  font-size: 12px;
  letter-spacing: 1px;
  color: #7e7d7d;
  font-weight: 400;
  margin-left: 525px;
  margin-top: 10px;
  word-spacing: -0.8px;
}

.date .time {
  margin-left: 7px;
}

div.comments-likes {
  margin-left: 467px;
  margin-top: 31px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #aaaaaa;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 234px;
  height: 16px;
}

.comments-twentEight {
  display: inline-block;
  margin-left: 7px;
  line-height: 20px;
}

div.comment {
  height: 17px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

div.like {
  height: 16px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-left: 3px;
}

.likes_zeroSeven {
  display: inline-block;
  margin-left: 7px;
  line-height: 20px;
}

.main-body-container {
  display: flex;
  justify-content: center;
}

.sort-blog-container {
  width: 1170px;
  height: 60px;
  filter: drop-shadow(0px 1px 0px #dddddd);
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.custom-sort-blog {
  font-size: 12px;
  color: #212121;
  font-weight: 700;
  margin-top: 24px;
}

.custom-blog-navbar {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 13px;
}

.custom-blog-navbar .all {
  border: 1px solid #3f51b5;
  border-radius: 18px;
  background-color: #f5f5f5;
  font-size: 12px;
  color: #3f51b5;
  font-weight: 530;
  text-align: center;
  padding: 8px 28px 6px 27px;
}

.navbarbutton-margin {
  border-radius: 15px;
  background-color: #f5f5f5;
  font-size: 12px;
  color: #202020;
  font-weight: 530;
  text-align: center;
  padding: 10px 25px 6px 26px;
  margin-left: 17px;
}

.main-body-content {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.main-body-child-content {
  margin-top: 31px;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.left-side-container {
  width: 820px;
}

.henry-little-blog {
  height: 620px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
  background-color: #ffffff;
}

.body-image {
  background-image: url("images/body_pic.jpg");
  height: 420px;
  border-radius: 4px;
  background-color: #212121;
  background-size: cover;
  background-position: center;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.md-17 {
  font-size: 17px;
}

.material-icons.md-14 {
  font-size: 14px;
}

.henry-little-blog .play-icon {
  color: #ffffff;
  position: relative;
  left: 381px;
  top: 181px;
}

.lifestyle-logo {
  position: relative;
  top: 325px;
  left: 18px;
}

.lifestyle-logo-styling {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.forum-icon-margin {
  margin-right: 2px;
}

.forum-icon-container {
  margin-right: 17px;
}

.henry-little-blog .comments-likes-bodyimage {
  float: right;
  color: #ffffff;
  position: relative;
  top: 308px;
  right: 21px;
}

.icon-color {
  color: #ffffff;
}

.seven {
  font-size: 12px;
  vertical-align: text-top;
}

.fifteen {
  font-size: 12px;
  vertical-align: text-top;
}

.henry-little-blog h4 {
  font-size: 18px;
  line-height: 29px;
  color: #212121;
  font-weight: 700;
  word-spacing: 2px;
  margin-top: 11px;
  margin-left: 20px;
}

.henry-little-blog p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #212121;
  font-weight: 400;
  margin-left: 19px;
  margin-top: 2px;
  font-family: "Open Sans";
}

.henry-little-blog .line {
  margin-top: 15px;
  height: 1px;
  background-color: #e0e0e0;
}

.henry-little-blog .content-bottom-part {
  display: flex;
  margin-left: 20px;
  margin-top: 19px;
}

.henry-little-blog .author-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("images/henry_2.jpg");
}

.henry-little-blog .name-and-date-container {
  display: flex;
  flex-direction: column;
}

.henry-little-blog .author-name {
  margin-top: 6px;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #3d3d3d;
  font-weight: 400;
}

.henry-little-blog .author-date {
  margin-top: 8px;
  margin-left: 9px;
}

.date-and-time-styling {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #878787;
  font-weight: 400;
}

.henry-little-blog .more_vert_icon {
  margin-left: 592px;
  margin-top: 13px;
}

.black-icon-color {
  color: #000000;
}

.james-leman-blog,
.james-leman-second-blog,
.benjamin-blog {
  display: flex;
  width: 820px;
  height: 165px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
  margin-top: 21px;
  background-color: #ffffff;
}

.james-leman-blog .girl-image {
  background-image: url("images/girl_image.jpg");
  width: 260px;
}

.james-leman-blog .right-container,
.james-leman-second-blog .right-container,
.benjamin-blog .right-container {
  width: 560px;
}

.james-leman-blog .play-icon,
.james-leman-second-blog .play-icon,
.benjamin-blog .play-icon,
.three-container .play-icon {
  color: #ffffff;
}

.james-leman-blog .play-icon-align,
.james-leman-second-blog .play-icon-align,
.benjamin-blog .play-icon-align,
.three-container .play-icon-align {
  position: relative;
  top: 59px;
  left: 106px;
}

.james-leman-blog .inspiration-logo,
.james-leman-second-blog .inspiration-logo,
.benjamin-blog .inspiration-logo,
.three-container .inspiration-logo {
  font-size: 11px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  right: 33px;
  top: 97px;
}

.three-container .trip-logo {
  position: relative;
  top: 130px;
  left: 19px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
}

.james-leman-blog .comments-likes-bodyimage,
.james-leman-second-blog .comments-likes-bodyimage,
.benjamin-blog .comments-likes-bodyimage,
.three-container .comments-likes-bodyimage {
  position: relative;
  top: 132px;
  right: 21px;
  float: right;
  color: #ffffff;
}

.james-leman-blog .top .heading,
.james-leman-second-blog .top .heading,
.benjamin-blog .top .heading {
  color: #212121;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 9px;
  margin-left: 17px;
}

.james-leman-blog .top .paragraph,
.james-leman-second-blog .top .paragraph,
.benjamin-blog .top .paragraph {
  line-height: 21px;
  color: #3c3c3c;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: 17px;
  margin-top: 10px;
}

.james-leman-blog .right-container .line,
.james-leman-second-blog .right-container .line,
.benjamin-blog .right-container .line {
  height: 0.3px;
  background-color: #ececec;
  margin-top: 14px;
}

.james-leman-blog .bottom,
.james-leman-second-blog .bottom,
.benjamin-blog .bottom {
  display: flex;
  margin-top: 11px;
  margin-left: 20px;
}

.james-leman-blog .bottom .james-image {
  background-position: center;
  background-image: url("images/james.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.james-leman-blog .bottom .authorname-date-container,
.james-leman-second-blog .bottom .authorname-date-container,
.benjamin-blog .bottom .authorname-date-container {
  display: flex;
  flex-direction: column;
}

.james-leman-blog .bottom .author-name,
.james-leman-second-blog .bottom .author-name,
.benjamin-blog .bottom .author-name {
  margin-left: 11px;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #212121;
  font-weight: 500;
}

.james-leman-blog .bottom .date,
.james-leman-second-blog .bottom .date,
.benjamin-blog .bottom .date {
  margin-left: 9px;
  margin-top: 9px;
}

/* {
  position: relative;
  bottom: 22px;
  right: 43px;
} */

.james-leman-blog .bottom .more_vert_icon,
.james-leman-second-blog .bottom .more_vert_icon {
  margin-top: 13px;
  margin-left: 340px;
}

.benjamin-blog .bottom .more_vert_icon {
  margin-top: 13px;
  margin-left: 324px;
}

.james-leman-second-blog .skateboard-image {
  display: inline-block;
  background-image: url("images/skateboard.jpg");
  width: 260px;
}

.james-leman-second-blog .bottom .james-second-image {
  background-position: center;
  background-image: url("images/james_2.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.benjamin-blog .sea-image {
  display: inline-block;
  background-image: url("images/sea_view.jpg");
  width: 260px;
}

.benjamin-blog .benjamin-image {
  background-position: center;
  background-image: url("images/henry_2.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.three-container {
  display: flex;
  margin-top: 20px;
  height: 420px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  /* background-color: #303f9f; */
}

.three-container .first-blog,
.three-container .second-blog,
.three-container .third-blog {
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
  width: 261px;
  border-radius: 4px;
  background-color: #ffffff;
}

.first-blog .grape-image {
  border-radius: 4px;
  background-image: url("images/grapes.jpg");
  height: 160px;
}

.first-blog .content-part .heading,
.second-blog .content-part .heading,
.third-blog .content-part .heading {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 700;
}

.first-blog .content-part .paragraph,
.second-blog .content-part .paragraph,
.third-blog .content-part .paragraph {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 21px;
  color: #2f2f2f;
  font-weight: 400;
  font-family: "Open Sans";
}

.first-blog .horizontal-line,
.second-blog .horizontal-line,
.third-blog .horizontal-line {
  margin-top: 25px;
  width: 260px;
  height: 1px;
  background-color: #e0e0e0;
}

.first-blog .about-author-container,
.second-blog .about-author-container,
.third-blog .about-author-container {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
}

.first-blog .james-lamen-image {
  background-position: center;
  background-image: url("images/james.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.first-blog .authorname-date-container,
.second-blog .authorname-date-container,
.third-blog .authorname-date-container {
  display: flex;
  flex-direction: column;
}

.second-blog .miller-image {
  background-position: center;
  background-image: url("images/james_2.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.third-blog .henry-little-image {
  background-position: center;
  background-image: url("images/henry_2.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.first-blog .name,
.second-blog .name,
.third-blog .name {
  margin-top: 6px;
  margin-left: 11px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 400;
}

.first-blog .dateandtime,
.second-blog .dateandtime,
.third-blog .dateandtime {
  margin-top: 8px;
  margin-left: 9px;
}

.first-blog .more_vert {
  margin-top: 22px;
  margin-left: 35px;
}

.second-blog .more_vert {
  margin-top: 22px;
  margin-left: 19px;
}

.third-blog .more_vert {
  margin-top: 22px;
  margin-left: 52px;
}

.second-blog .girl-hat-image {
  border-radius: 4px;
  background-image: url("images/girl-with-hat.jpg");
  height: 160px;
}

.third-blog .black-guy-image {
  border-radius: 4px;
  background-image: url("images/black-men.jpg");
  height: 160px;
}

.third-blog .arrow-icons {
  position: relative;
  top: 60px;
  left: 11px;
  height: 37px;
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.third-blog .left-arrow {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-blog .right-arrow {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-blog .life-logo {
  top: 93px;
  left: 19px;
  position: relative;
}

.third-blog .comment-like {
  position: relative;
  top: 95px;
  right: 22px;
  float: right;
  color: #ffffff;
}

.dsp-flex-jst-spc {
  display: flex;
  justify-content: space-between;
}

.two-container {
  margin-top: 22px;
  background-color: #f5f5f5;
  height: 541px;
}

.two-container .first-container {
  width: 400px;
  height: 540px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
  background-color: #ffffff;
}

.two-container .second-container {
  width: 400px;
  height: 540px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
  background-color: #ffffff;
}

.two-container .first-container .cloud9-image {
  height: 300px;
  border-radius: 4px;
  background-image: url("images/cloud9.jpg");
}

.two-container .first-container .life-style-logo,
.two-container .second-container .life-style-logo {
  position: relative;
  top: 267px;
  left: 19px;
}

.two-container .first-container .comments-likes-bodyimage,
.two-container .second-container .comments-likes-bodyimage {
  position: relative;
  top: 252px;
  left: 294px;
}

.two-container .first-container .heading {
  margin-top: 13px;
  margin-left: 19px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 700;
}

.two-container .first-container .paragraph,
.two-container .second-container .paragraph {
  margin-top: 7px;
  margin-left: 19px;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 26px;
  color: #696969;
  font-weight: 400;
  font-family: "Open Sans";
}

.two-container .first-container .line,
.two-container .second-container .line {
  margin-top: 13px;
  height: 1px;
  background-color: #e0e0e0;
}

.two-container .first-container .about-author-container,
.two-container .second-container .about-author-container {
  margin-left: 19px;
  margin-top: 15px;
  display: flex;
}

.two-container .first-container .james-lamen-image {
  background-position: center;
  background-image: url("images/james.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.two-container .first-container .date-name-container,
.two-container .second-container .date-name-container {
  margin-top: 6px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.two-container .first-container .name,
.two-container .second-container .name {
  font-size: 14px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 400;
}

.two-container .first-container .dateandtime,
.two-container .second-container .dateandtime {
  margin-top: 7px;
}

.two-container .first-container .more_vert,
.two-container .second-container .more_vert {
  margin-top: 11px;
  margin-left: 176px;
}

.two-container .second-container .girl-styding-image {
  height: 300px;
  border-radius: 4px;
  background-image: url("images/girl-studying.jpg");
}

.two-container .second-container .heading {
  margin-top: 13px;
  margin-left: 19px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3f51b5;
  font-weight: 700;
}

.two-container .second-container .miller-image {
  background-position: center;
  background-image: url("images/james_2.jpg");
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.right-side-container {
  width: 310px;
  background-color: #ffffff;
}
