* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}

div.top-container {
    height: 40px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-container {
    width: 1170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.socialmedia-icons {
    height: 16px;
    width: 219px;
    display: flex;
    justify-content: space-between;
}

.social-custom-icon {
    color: #ffffff;
    opacity: 0.380;
}

.login-icons {
    width: 166px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.login-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
}

.anchor-login-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.anchor-language-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-custom-icon {
    color: #ffffff;
    opacity: 0.380;
    margin-right: 5px;
}

.material-icons.md-16 {
    font-size: 16px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-20 {
    font-size: 20px;
}

.tags-styling .home-tag-arrow-down {
    line-height: 17px;
}

.sign-in-logo {
    opacity: 0.502;
    line-height: 27px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 4px;
}

a {
    text-decoration: none;
}

.vertical-logo {
    opacity: 0.380;
    width: 1.5px;
    height: 22px;
    background-color: #b4b4b4;
}

.language-custom-icon {
    color: #ffffff;
    opacity: 0.380;
    line-height: 90px;
    margin-right: 8px;
}

.eng-logo {
    opacity: 0.502;
    line-height: 27px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
}

.arrow-custom-icon {
    opacity: 0.502;
    line-height: 90px;
    color: #ffffff;
    width: 15px;
}

.main-menu-container {
    height: 800px;
    background: linear-gradient(rgba(33, 33, 33, 0.87), rgba(33, 33, 33, 0.87)), url('images/bg_image.jpg');
    background-size: cover;
    background-position: center;
}

.main-menu-content {
    height: 72px;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 46px;
}

.logo {
    width: 92px;
    height: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 12px
}

.home-container {
    width: 781px;
    height: 47px;
    margin-top: 28px;
    margin-left: 37px;
    display: flex;
    justify-content: space-between;
}

.home-tag .home-tag-arrow-down {
    margin-left: 0px;
}

.home-tag {
    width: 79px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.home-tag-arrow-down {
    margin-left: 3px;
}

.pink-bar {
    width: 80px;
    height: 4px;
    background-color: #ff4081;
    margin-left: 11px;
}

.portfolio-tag {
    width: 107px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.blog-tag {
    width: 59px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.pages-tag {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.shop-tag {
    width: 62px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.components-tag {
    width: 129px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.features-tag {
    width: 99px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 34px;
}

.tags-styling {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
}

.search-icon {
    width: 116px;
    height: 38px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.search-icon-lines {
    opacity: 0.380;
    width: 1px;
    height: 30px;
    background-color: #b4b4b4;
    margin-bottom: 4px;
}

.search-icon-colors {
    color: #ffffff;
}

.caption-container {
    height: 222px;
    margin-left: 183px;
    margin-top: 210px;
    display: flex;
    flex-direction: column;
}

.inspiration-container {
    height: 16px;
    opacity: 0.702;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 380px;
}

.millennials-container {
    width: 814px;
    height: 87px;
    opacity: 1.702;
    font-size: 42px;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
    margin-left: 77px;

}

.search-icon-width {
    width: 21px;
}


.favorite-icon-width {
    width: 22px;
}

.cart-icon-width {
    width: 21px;
}


.ways {
    width: 875px;
}

.building {
    width: 815px;
}

.readmore-container {
    width: 170px;
    height: 45px;
    border-radius: 22px;
    filter: drop-shadow(0px 17px 12px rgba(48, 63, 159, 0.2));
    background-color: #303f9f;
    margin-top: 45px;
    margin-left: 364px;
    display: flex;
    align-items: center;
}

.read-fontsize {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 26px;
    margin-top: 5px;
}

.author-likes-cmnts {
    width: 236px;
    height: 161px;
    margin-top: 78px;
    margin-left: 464px;
}

.ellipse {
    margin-left: 606px;
    margin-top: 72px;
    width: 52px;
    height: 52px;
    border-radius: 25px;
    background-color: #eeeeee;
    background-image: url('images/henry.jpg');
}

div.author {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 585px;
    margin-top: 11px;
}

div.date {
    opacity: 0.541;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 570px;
    margin-top: -2px;
    word-spacing: -0.8px;
}

.date .time {
    margin-left: 7px;
}

div.comments-likes {
    margin-left: 512px;
    margin-top: 26px;
    opacity: 0.541;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 234px;
    height: 16px;
}

.comments-twentEight {
    display: inline-block;
    margin-left: 7px;
    line-height: 20px;
}

div.comment {
    height: 17px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

div.like {
    height: 16px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-left: 3px;
}

.likes_zeroSeven {
    display: inline-block;
    margin-left: 7px;
    line-height: 20px;
}

.main-body-container {
    display: flex;
    justify-content: center;
}

.sort-blog-container {
    width: 1170px;
    height: 60px;
    filter: drop-shadow(0px 1px 0px #dddddd);
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
}

.custom-sort-blog {
    opacity: 0.871;
    font-size: 12px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    margin-top: 14px;

}

.custom-blog-navbar {
    width: 625px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 19px;
    margin-top: 13px;
}

.custom-blog-navbar .all {
    border: 1px solid #3f51b5;
    width: 76px;
    height: 29px;
    border-radius: 16px;
    background-color: #f5f5f5;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #3f51b5;
    font-weight: 530;
    text-align: center;

}

.custom-blog-navbar .photography {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #f5f5f5;
    opacity: 0.871;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #000000;
    font-weight: 530;
    text-align: center;
}

.custom-blog-navbar .lifestyle {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: #f5f5f5;
    opacity: 0.871;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #000000;
    font-weight: 530;
    text-align: center;
}

.custom-blog-navbar .trip {
    width: 82px;
    height: 30px;
    border-radius: 15px;
    background-color: #f5f5f5;
    opacity: 0.871;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #000000;
    font-weight: 530;
    text-align: center;
}

.custom-blog-navbar .inspirtion {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    background-color: #f5f5f5;
    opacity: 0.871;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #000000;
    font-weight: 530;
    text-align: center;
}


.main-body-content {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

.main-body-child-content {
    margin-top: 31px;
    width: 1170px;
}

.henry-little-blog {
    width: 820px;
    height: 620px;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));
    background-color: #ffffff;
    float: left;
}

.body-image {
    background-image: url('images/body_pic.jpg');
    width: 820px;
    height: 420px;
    border-radius: 4px;
    background-color: #212121;
    background-size: cover;
    background-position: center;

}

.material-icons.md-60 {
    font-size: 60px;
}

.play-icon {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.play-icon .play-icon-align {
    margin-top: 181px;
}

.lifestyle-logo {
    font-size: 11px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    margin-top: ;
    margin-top: 148px;
    margin-left: 19px;
}